<body>
  <div class="container">
    <div class="alert alert-dark" role="alert">
      <strong>Operations</strong>&nbsp;&nbsp;
      <a routerLink="/alerte"><strong>Alerte</strong></a>&nbsp;&nbsp;
      <a routerLink="/service"><strong>Service</strong></a>
    </div>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Recherche">
      </form>
    </nav>
    <div class="premier">
      
      <div>
        <p>Nom alerte</p>
        <strong>Nom alerte</strong>

      </div>
      
      <div>
        <p>10 Dècembre 2020</p>
        <strong>10 Dècembre 2020</strong>
    </div>
    
    <div>
      <p>Urgent</p>
      <strong class="urgent">Urgent</strong>
    </div>
   
    <div>
      <p>10 Dècembre 2020</p>
      <ul>
        <li><strong>Hassmar</strong></li>
        <li><strong>Police Nationale</strong></li>
        <li><strong>Marine Nationale</strong></li>
        <li><strong>Sapeurs Pompiers</strong></li>
      </ul>
    </div>
   
    <div>
      <p>Position</p>
      <ul>
        <li><strong>Latitude 14,681°</strong></li>
        <li><strong>Longitude 14,681°</strong></li>
      </ul>

    </div>

  </div>
  <br>
  <div class="deuxieme">
    <div class="deux1">
      <div class="act">
        <p>Actions</p>
      </div>
      <div class="int">
        <strong>Intitulé Operation</strong> 12 Décembre 2020
      </div>
      <div>

      </div>

    </div>

    <div class="deux2">
      <main id="main">

        <!-- ======= Resume Section ======= -->
        <section >
          <div class="container" data-aos="fade-up">


            <div class="row">
              <div class="col-lg-6">


                <div >
                  <strong>Khadija Faye</strong> 10:15
                  <p><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Esse ratione numquam harum quia illo. Harum dolor veniam non co
                      rrupti ipsum omnis! Totam aspernatur atque, v
                      el necessitatibus iusto provident voluptatem? Rem?</em></p>

                </div>
                <div >
                  <strong>Khadija Faye</strong> 10:15
                  <p><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Esse </em></p>
                </div>
                <div >
                  <strong>Khadija Faye</strong> 10:15
                  <p><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Esse </em></p>
                  <img
                    src="../../assets/exclusif-parcelles-assainies-la-brigade-des-sapeurs-pompiers-ne-dispose-daucun-vehicule.jpg"
                    width="400px" height="300px">
                </div>
                <div >
                  <strong>Khadija Faye</strong> 10:15
                  <p><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      EsseLorem ipsum dolor sit, amet consecte </em></p>
                </div>
              </div>

            </div>

          </div>
        </section>
        <div class="input-group">
          <span class="input-group-text">Actions</span>
          <textarea class="form-control" aria-label="Actions" rows="8" cols="5"
            placeholder="Ecrivez votre commentaire"></textarea>
        </div>
        <br>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02">
          <label class="input-group-text" for="inputGroupFile02"></label>
        </div>
        <br>
        <button class="btn btn-info" id="env">Envoyer</button>
      </main>
   
    <main id="liste">
      <div class="list">
        <div class="listhead">
          <p>Liste des participants</p>
        </div>
        <div class="lescercles">
          <div class="cc1"style="margin-left: 10px;">
            <div class="cerle"></div>
            <div class="cerle"></div>
            <div class="cerle"></div>
            <div class="cerle"></div>
            <div class="cerle"></div>
          </div>
          <div style="margin-top: 15px;">
            <p>Issa SOUMARE (HASSMAR)</p>
            <p>khadija FAYE (Police Nationale)</p>
            <p>Mamadou SAMB (Marine Nationale)</p>
            <p>Abdoulaye BA (Direction des Douanes)</p>
            <p>Pierre MENDY (Sapeurs Pompiers)</p>
          </div>
        </div>
        <button class="btn btn-info" id="env2">Nouvelle invitation</button>
      </div>

    </main>

  </div>
  </div>